<div class="title w1"><h1>排序<a name="hash_sort"></a></h1>
<span{if($sortby=='price')} class="sort_{$sortval}"{/if} style="margin-left:20px" onclick="jsshop.sort('price','{if($sortval=='asc')}desc{else}asc{/if}');">按价格</span><span{if($sortby=='comment')} class="sort_{$sortval}"{/if} onclick="jsshop.sort('comment','{if($sortval=='asc')}desc{else}asc{/if}');">按评分</span><span {if($sortby=='sold')}class="sort_{$sortval}"{/if} onclick="jsshop.sort('sold','{if($sortval=='asc')}desc{else}asc{/if}');">按销量</span></div>
<div class="list2 w1">
<img src="/default/images/dividing-line-740.png">
{foreach($arr_menu['list'] as $menu)}
	<li onmouseover="jsshop.mouseover('{$menu['menu_id']}');" onmouseout="jsshop.mouseout('{$menu['menu_id']}');" onclick="jsshop.cart_add({id:'{$menu['menu_id']}',name:'{$menu['menu_title']}',pic:'{$menu['menu_pic_small']}',price:'{$menu['menu_price']}',type:'{$menu['menu_type']}'});" id="id_li_{$menu['menu_id']}">
	<span class="x_nosel" id="id_nosel_{$menu['menu_id']}">&nbsp;</span>
	<span class="tit" id="id_title_{$menu['menu_id']}">{$menu['menu_title']}</span>
	<span class="price">￥{$menu['price_int']}{if(intval($menu['price_float'])>0)}.{$menu['price_float']}{/if}</span></li>
	<li class="xcomment">{if($sortby=='sold')}(销量：<font color="#ff0000">{$menu['menu_sold']}</font>){else}(<a href="javascript:jsshop.comment({$menu['menu_id']});"><font color="#FC0062">{$menu['menu_comment_num']}</font>评论</a>){/if}</li>
{/foreach}
</div>
