{foreach($arr_menu["list"] as $item)}
<div class="title w1"><h1>{$item["name"]}<a name="hash_{$index_group}_{$item['id']}"></a></h1></div>
<div class="list2 w1">
{foreach($item['list'] as $menu)}
	<li onmouseover="jsshop.mouseover('{$menu['menu_id']}');" onmouseout="jsshop.mouseout('{$menu['menu_id']}');" onclick="jsshop.cart_add({id:'{$menu['menu_id']}',name:'{$menu['menu_title']}',pic:'{$menu['menu_pic_small']}',price:'{$menu['menu_price']}',type:'{$menu['menu_type']}'});" id="id_li_{$menu['menu_id']}">
	<span class="x_nosel" id="id_nosel_{$menu['menu_id']}">&nbsp;</span>
	<span class="tit" id="id_title_{$menu['menu_id']}">{$menu['menu_title']}</span>
	{if($index_group!='price')}<span class="price">￥{$menu['price_int']}{if(intval($menu['price_float'])>0)}.{$menu['price_float']}{/if}</span>{/if}</li>
	<li class="xcomment">(<a href="javascript:jsshop.comment({$menu['menu_id']});"><font color="#FC0062">{$menu['menu_comment_num']}</font>评论</a>)</li>
{/foreach}
</div>
{/foreach}