<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{cfg:(site_title,sys)}</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="/common/images/expand.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.page.js"></script>
<style>
body{background:#fff}
</style>
</head>
<body style="overflow-x:hidden">
<div class="myvip">
	<div class="info">尊敬的会员：<font class="txt_orangeB">{$this_login_user->uname}</font> ，您现在累计的积分为：<font class="txt_redB">{$this_login_user->get_score()}</font> 分，可等值抵扣消费金额 <font class="txt_redB">{$score_money}</font> 元。</div>
	<div class="tit">
		<span style="width:150px;">时间</span>
		<span style="width:100px;">收入(分)</span>
		<span style="width:100px;">支出(分)</span>
		<span style="width:100px;">账户余额(分)</span>
		<span style="width:230px;">详情</span>
	</div>
	{set $score=0}
	{foreach($action_list["list"] as $item)}
	<div class="list">
		<span class="x1">{$item["action_addtime"]}</span>
		<span class="x2">{if($item["action_score"]>0)}+{$item["action_score"]}{/if}</span>
		<span class="x3">{if($item["action_score"]<0)}{$item["action_score"]}{/if}</span>
		<span class="x5">{$action_list["score"]-$score}</span>
		<span class="x6">{$item["beta"]}</span>
		{set $score+=$item["action_score"]}
	</div>
	{/foreach}
</div>
<div class="pPage" id="id_pPage" style="margin-top:20px">
{$action_list['pagebtns']}
</div>
</body>
</html>