{include(header)}
<div class="pMenu" id="id_pMenu">
	<input type="hidden" value="{fun_get::get('url_type')}" name="url_type" id="id_url_type">
	<li class="sel">管理</li>
	<li onclick="kj.dialog({id:'add_today',title:'添加菜品',url:'{fun_get::url(array('app_act'=>'add','url_date'=>$this_date,'url_date_period'=>$this_date_period))}',w:500,showbtnclose:false,showbtnhide:true,top:0,type:'iframe'});" class="x_btn">添加</li>
</div>
<div class="pMain_1" id="id_pMain_1">
	<div class="pPath">&nbsp;&nbsp;日期：<input type="text" id="id_url_date" name="url_date" value="{$this_date}" class='pTxtDate' onfocus="new Calendar().show(this,null,function(){admin.refresh();});">
	&nbsp;&nbsp;{fun_get::weekday($this_date)}&nbsp;&nbsp;
	<label><input type="radio" name="url_date_period" value="0" checked onclick="admin.refresh();">全天</label>
	{foreach($this_period['list'] as $item=>$key)}
		<label><input type="radio" name="url_date_period" value="{$key['index']}"{if($key['index']==$this_date_period)} checked{/if} onclick="admin.refresh();">{$key['title']}</label>
	{/foreach}
	</div>
</div>
<div class="pMain" id="id_main">
<div class="pTableBox" id="id_table_box">
	<div class='pTableTit' id="id_table_title">
		<li><span class="x_tit" style="width:25px">&nbsp;</span></li>
		{foreach($arr_list["tabtit"] as $item)}
			<li><span class="x_tit"{if($item["w"]>0)} style="width:{$item["w"]}px"{/if} onclick="admin.table.list1.sort('{$item['key']}')">{$item["name"]}
			{if(isset($arr_list['sort'][$item['key']]))}<img src="images/sort_{$arr_list['sort'][$item['key']]}.png">{/if}</span><span class="x_split"></span></li>
		{/if}
		<li><span class="x_tit" style="cursor:none;width:80px">操作</span></li>
	</div>
	<div class="pTableList" id="id_table_list">
		<div class='pTable' id="id_table">
			<div class='pTabRow' id="id_tabrow_THISMENUID" style="display:none">
				<li><input type='hidden' name='today_id[]' value=""><input type='hidden' name='today_menu_id[]' value="THISMENUID"></li>
				{foreach($arr_list["tabtd"] as $field)}
					{if($field=='menu_title')}
					<li>THISMENUNAME</li>
					{else}
					<li><input type="text" name="{$field}[]" value="THISMENUVALUE" class="autosize"></li>
					{/if}
				{/foreach}
				<li>
				{if($this_limit->chk_act("delete"))}&nbsp;&nbsp;<input type="button" name="btnedit" value="移除" onclick="kj.remove('#id_tabrow_THISMENUID');" class="pBtn2">{/if}
				</li>
			</div>
			{foreach($arr_list["list_group"] as $group_key => $group)}
				<div class='x_title' id="id_title_{$group['group_id']}">
					&nbsp;&nbsp;&nbsp;&nbsp;{$group['group_name']}
				</div>
				{foreach($arr_list['list']["id_".$group['group_id']] as $item)}
				<div class='pTabRow' id="id_tabrow_{$item['today_menu_id']}">
					<li><input type='hidden' name='today_id[]' value="{$item['today_id']}"><input type='hidden' name='today_menu_id[]' value="{$item['today_menu_id']}"></li>
					{foreach($arr_list["tabtd"] as $field)}
						{if($field=='menu_title')}
						<li>{$item[$field]}</li>
						{else}
						<li><input type="text" name="{$field}[]" value="{$item[$field]}" class="autosize"></li>
						{/if}
					{/foreach}
					<li>
					{if($this_limit->chk_act("delete"))}&nbsp;&nbsp;<input type="button" name="btnedit" value="移除" onclick="kj.remove('#id_tabrow_{$item['today_menu_id']}');" class="pBtn2">{/if}
					</li>
				</div>
				{/foreach}
			{/foreach}
		</div>
	</div>
</div>
</div>
<div class="pFootAct" id="id_pFootAct">
	<li>{if($this_limit->chk_act("save"))}<input type="button" name="dosubmit" value="保存" onclick="admin.frm_ajax('save');" class="pBtn">{/if}</li>
</div>
<script src="admin.table.js"></script>
<script>
//初始化表格控件
kj.onload(function(){
admin.table.list1.init('#id_table_title' , '#id_table');
});
//自动保存
admin.table.list1.save_resize = function() {
	var lng_w = (kj.w(this.field));
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=save_resize&filename=meal&key=meal.menu.today&index=" + this.fieldsindex + "&w=" + lng_w , function(data){
		//alert(data);
	});
}
admin.table.list1.sort = function(key) {
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=sort&key=meal.menu.today&filename=meal&sortby=" + key , function(data){
			var obj_data=kj.json(data);
			if(!obj_data.isnull) {
				admin.refresh();
			}
	});
}
//当前页面js对象
var thisjs = new function() {
	this.remove = function(id) {
		admin.ajax_delete( id , true , function() {kj.remove("#id_tabrow_" + id);} );
	}
	this.add = function(group_id , group_name , menu_id , menu_name , menu_default) {
		var obj_tit = kj.obj("#id_title_" + group_id);
		var obj_menu = kj.obj("#id_tabrow_" + menu_id);
		if(obj_menu) {
			alert("已经添加过此菜品");
			return;
		}
		if(!obj_tit) {
			this.addtit(group_id , group_name);
			obj_tit = kj.obj("#id_title_" + group_id);
		}
		var obj_default = kj.obj("#id_tabrow_THISMENUID");
		var str_html = obj_default.innerHTML.replace(/THISMENUID/g,menu_id);
	    str_html = str_html.replace(/THISMENUNAME/g,menu_name);
	    str_html = str_html.replace(/THISMENUVALUE/g,menu_default);
		var obj_div = document.createElement("div");
		obj_div.id = "id_tabrow_" + menu_id;
		obj_div.className = "pTabRow";
		obj_div.innerHTML = str_html;
		//kj.obj("#id_table").appendChild(obj_div);
		var obj_next = this.last_row(obj_tit);
		kj.insert_after(kj.obj("#id_table") , obj_next , obj_div);
	}
	this.last_row = function(obj) {
		if('nextSibling' in obj && obj.nextSibling) {
			var obj_next = obj.nextSibling;
			if('className' in obj_next && obj_next.className == 'x_title') {
				return obj;
			} else {
				return this.last_row(obj_next);
			}
		} else {
			return obj;
		}
	}
	this.addtit = function(group_id , group_name) {
		var obj_div = document.createElement("div");
		obj_div.id = "id_title_" + group_id;
		obj_div.className = "x_title";
		obj_div.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;" + group_name;
		kj.obj("#id_table").appendChild(obj_div);
	}

}
</script>
{include(footer)}