{include(header)}
<script src="/common/js/kj.layer.js"></script>
<script>
kj.layer.move = function(id) {
	var obj = {};
	obj.title='移动分组';
	obj.type='iframe';
	obj.top = kj.y;
	obj.left = kj.x;
	obj.h=100;
	obj.w={$arr_depart["maxlayer"]*50+150};
	if(obj.w < 200) obj.w=200;
	obj.url = "?app={$app}&app_module={$app_module}&app_act=move_open&id=" + id;
	obj.id = 'openmove_' + id;
	//obj.showbtnhide=true;
	kj.dialog(obj);
}
kj.onload(function(){
	kj.handler(document.documentElement,"mousedown",function(e){
		oEvent=e||event;
		kj.x=oEvent.clientX;
		kj.y=oEvent.clientY;
	});
});

</script>
<div class="pMenu" id="id_pMenu">
	<li class="sel" onclick="admin.act('');">管理</li>
</div>
<div class="pMain" id="id_main">
	<div class="pLayer" id="id_layer">
	<li style="display:none" id="id_layer_default">
		<span class="padding_1">&nbsp;<input type="hidden" name="" value="1"></span>
		<span class="xx_1"><input type="hidden" name="depart_id[]" value=""><input type="hidden" name="depart_id_layer[]" value="id_layer_default"><input type="hidden" name="pid[]" value=""><input type="text" name="depart_sort[]" value="" class='pTxt1 pTxtL20'></span>
		<span class="xx_1"><input type="text" name="depart_name[]" value="" class='pTxt1 pTxtL150'></span><span class="xx_1"><a href="javascript:kj.layer.add('#id_layer_default',50);"><img src="images/add.gif"></a>&nbsp;&nbsp;<a href="javascript:kj.layer.remove('id_layer_default');"><img src="images/romove.gif"></a></span></li>
	{foreach($arr_depart["list"] as $item)}
	<li id="id_layer_{$item['depart_id']}">
		<span class="padding_1" style="width:{$item['layer']*50-50}px">&nbsp;<input type="hidden" name="" value="{$item['layer']}"></span>
		<span class="xx_1"><input type="hidden" name="depart_id[]" value="{$item['depart_id']}"><input type="hidden" name="depart_id_layer[]" value="id_layer_{$item['depart_id']}"><input type="hidden" name="pid[]" value="{if($item['depart_pid']>0)}id_layer_{$item['depart_pid']}{/if}"><input type="text" name="depart_sort[]" value="{$item['depart_sort']}" class='pTxt1 pTxtL20'></span>
		<span class="xx_1"><input type="text" name="depart_name[]" value="{$item['depart_name']}" class='pTxt1 pTxtL150'></span><span class="xx_1"><a href="javascript:kj.layer.add('#id_layer_{$item['depart_id']}',50);"><img src="images/add.gif"></a>&nbsp;&nbsp;<a href="javascript:kj.layer.remove('id_layer_{$item['depart_id']}');"><img src="images/romove.gif"></a>&nbsp;&nbsp;<a href="javascript:kj.layer.move({$item['depart_id']});">移</a></span></li>
	{/foreach}
	</div>
	<div class="pLayerAdd"><a href="javascript:kj.layer.add();"><img src="images/add.gif"> 添加部门</a></div>
</div>
<div class="pFootAct" id="id_pFootAct">
<li>
{if($this_limit->chk_act("update"))}&nbsp;<input type="button" name="dosubmit" value="保存" onclick="admin.frm_ajax('save_all');" class="pBtn">{/if}
</li>
</div>
{include(footer)}