{include(header)}
<div class="pMenu" id="id_pMenu">
	<input type="hidden" name="url_type" value="{$type}" id="id_url_type">
	{foreach($arr_type as $item=>$key)}
	<li{if($type==$key)} class="sel"{/if} onclick="kj.obj('#id_url_type').value='{$key}';admin.act('');">{$item}</li>
	{/foreach}
	<li onclick="admin.menu_display(0);" class = "btnMenu">查找</li>
	<li class="fdpic" onclick="master_open({url:'common.php?app=config&app_module=user&dir={$app_dir}&filename=sys&key=sys.verify',title:'设置字段',w:400});">&nbsp;</li>
</div>
<div class="btnMenuDiv" id="id_btnMenuDiv"{if($arr_list['issearch']==0)} style="display:none"{/if}>
<li>生成时间：<input type="text" name="s_time1" value="{fun_get::get('s_time1')}" class='pTxtDate' onfocus="new Calendar().show(this);"> 到 <input type="text" name="s_time2" value="{fun_get::get('s_time2')}" class='pTxtDate' onfocus="new Calendar().show(this);"></li>
<li>效验时间：<input type="text" name="s_retime1" value="{fun_get::get('s_retime1')}" class='pTxtDate' onfocus="new Calendar().show(this);"> 到 <input type="text" name="s_retime2" value="{fun_get::get('s_retime2')}" class='pTxtDate' onfocus="new Calendar().show(this);"></li>
<li>状态：<select name="s_state">
<option value="-999"></option>
{foreach($arr_state as $item=>$key)}
<option value="{$key}"{if($key==fun_get::get("s_state"))} selected{/if}>{$item}</option>
{/foreach}
</select></li>
<li>关 键 字：<input type="text" name="s_key" value="{fun_get::get('s_key')}" class='pTxt1'>　<input type="button" name="btn_s_ok" value="查找" class="pBtn" onclick="admin.search();"> 　<input type="button" name="btn_s_clear" value="清空" class="pBtn" onclick="admin.clear_search();"></li>
</table>
</div>
<div class="pMain" id="id_main">
<div class="pTableBox" id="id_table_box">
	<div class='pTableTit' id="id_table_title">
		{foreach($arr_list["tabtit"] as $item)}
			<li><span class="x_tit"{if($item["w"]>0)} style="width:{$item["w"]}px"{/if} onclick="admin.table.list1.sort('{$item['key']}')">{$item["name"]}
			{if(isset($arr_list['sort'][$item['key']]))}<img src="images/sort_{$arr_list['sort'][$item['key']]}.png">{/if}</span><span class="x_split"></span></li>
		{/if}
	</div>
	<div class="pTableList" id="id_table_list">
		<div class='pTable' id="id_table">
			{foreach($arr_list['list'] as $item)}
			<div class='pTabRow'>
				{foreach($arr_list["tabtd"] as $field)}
					<li>{if(empty($item[$field]))}&nbsp;{else}{$item[$field]}{/if}</li>
				{/foreach}
			</div>
			{/foreach}
		</div>
	</div>
</div>
</div>
<div class="pPage" id="id_pPage">
{$arr_list['pagebtns']}
</div>
<script src="admin.table.js"></script>
<script>
//初始化表格控件
kj.onload(function(){
admin.table.list1.init('#id_table_title' , '#id_table');
});
//自动保存
admin.table.list1.save_resize = function() {
	var lng_w = (kj.w(this.field));
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=save_resize&filename=sys&key=sys.verify&index=" + this.fieldsindex + "&w=" + lng_w , function(data){
		//alert(data);
	});
}
admin.table.list1.sort = function(key) {
	kj.ajax.get("common.php?app=config&app_module=user&filename=sys&dir={$app_dir}&app_act=sort&key=sys.verify&sortby=" + key , function(data){
			var obj_data=kj.json(data);
			if(!obj_data.isnull) {
				admin.refresh();
			}
	});
}

</script>
{include(footer)}