<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>提示</title>
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<style>
.me_tips{float:left;font-size:14px;line-height:20px;width:100%;text-align:left;margin:20px 0px 0px 0px}
.me_tips li{float:left;margin:10px;}
.me_action{float:left;width:100%;}
.me_action li{float:left;margin:10px;}
</style>
</head>
<body>
<!--提示内容-->
{if( !empty($error_tips) )}<div class="me_tips"><li>{$error_tips}</li></div>{/if}
<!--相关操作-->
<div class="me_action">
{foreach($error_action as $item)}
	{if($item['time']==0)}{fun_base::url_jump($item['url'])}{/if}
<li>
	<a href="{$item['url']}" target="{$item['target']}">{$item['title']}</a>
	{if($item['time']>0)}
		(<font id="id_time">{$item['time']}</font>)
		<script>
		var jump_time={$item['time']};
		function me_refresh_time() {
			jump_time--;
			kj.set("#id_time","innerHTML",jump_time);
			if(jump_time<=0) {
				window.open("{$item['url']}","{$item['target']}");
			}
		}
		setInterval("me_refresh_time()",1000);
		</script>
	{/if}
</li>
{/foreach}
</div>
</body>
</html>